<div class="container header">
    <a href="./index.html" class="logo-link">
        <img src="./img/logo.png" alt="Logo" class="logo">
        <img src="./img/logo_small.png" alt="Logo" class="logo-sm">
    </a>
    <nav id="nav">
        <a href="./index.html" class="link">Start</a>
        <a href="./dailyrecipe.html" class="link">Rezept&nbspdes&nbspTages</a>
        <a href="./contact.html" class="link">Kontakt</a>
        <a href="./impressum.html" class="link">Impressum</a>
    </nav>

    <!-- Menu -->
    <div class="menu-button" id="menuButton"><img src="./img/icons/bars-solid.svg" alt="Menü"></div>
    <div class="menu-bg" id="menuBg">
    </div>
    <div class="menu" id="menu">
        <a href="./index.html" class="link">Start</a>
        <a href="./dailyrecipe.html" class="link">Rezept&nbspdes&nbspTages</a>
        <a href="./contact.html" class="link">Kontakt</a>
        <a href="./impressum.html" class="link">Impressum</a>
        <a href="./privacypolicy.html" class="link">Datenschutz</a>
    </div>
</div>