<div class="margin_all">
	<h2 id="title">Griechischer Bauernsalat</h2>
	<img class="img" src="./img/wok.jpg" alt="Wok" id="image">
	<div class="info1">
		<div class="info2">
			<img class="icons" src="img/icons/clock-regular.svg" alt="clock"><span id="time1">15
				min</span>
		</div>
		<div class="info2">
			<img class="icons" src="img/icons/brain-solid.svg" alt="clock"><span id="difficulty">simpel</span>
		</div>
		<div class="info2">
			<img class="icons" src="img/icons/calendar-alt-regular.svg" alt="clock"><span id="date">datum</span>
		</div>
	</div>
	<div class="amount">
		<div class="margin_amount">Zutaten für</div>
		<div class="margin_amount">
			<input type="number" id="persons" value="1" min="1" max="10"/><br>
		</div>
		<div class="margin_amount">
			<button class="button" id="calculateBtn">Portion(en)</button>
		</div>
	</div>
	<table id="mylist">
	</table>
	<h2>Zubereitung</h2>
	<div class="info1">
		<div class="info2">
			<img class="icons" src="img/icons/clock-regular.svg" alt="clock"><span id="time2">15
				min</span>
		</div>
		<div class="info2">
			<img class="icons" src="img/icons/clock-regular.svg" alt="clock"><span id="totalTime">gesamtzeit ca. 15 min</span>
		</div>
	</div>
	<p id="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident sit assumenda beatae! Fugiat alias
		perferendis nisi, accusantium soluta corporis earum laborum aliquid qui, saepe impedit omnis aspernatur
		dicta quos! Impedit.</p>
	<h3> Rezept erstellt von</h3>
	<div class="creator">
		<img class="picture" src="./img/profile.png" alt="Ersteller" id="profilePicture">
		<p id="createdBy">Name</p>
	</div>
</div>